# Ignore node_modules to avoid unnecessary build context inclusion

node_modules/

# Ignore test files unless running tests within the container (modify as needed)

_.test.js
_.test.jsx
_.spec.js
_.spec.jsx

# Ignore temporary files and directories

<!-- .env -->

.git/
.next/
coverage/

# Ignore any additional files or directories that are not needed in the container

# (e.g., editor temporary files, personal configurations)

\*.localrc
.editorconfig
